 {{> head }} 
 {{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Capitán América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, est consectetur eos sit reiciendis mollitia id magni exercitationem vero impedit ut, tempora, dolorem officia nesciunt magnam dolor fuga cumque recusandae!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan-america.png"  class="img-thumbnail" alt="">
    </div>
</div>
{{> footer }}